* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BwModelicaSS02;
    src: url('fonts/BwModelicaSS02-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: MontserratBold;
    src: url('fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

body {
    background-color: #19192e;
    font-family: Montserrat;
    font-size: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
}

form {
    max-width: 1000px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

label {
    font-family: MontserratBold;
    font-size: 14px;
    color: #252B42;
    margin-bottom: 5px;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="url"] {
    width: 100%;
    padding: 10px;
    font-family: Montserrat;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.optional {
    font-size: 0.9em;
    color: grey;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.button-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

button {
    font-family: BwModelicaSS02;
    background-color: #289ac0;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #1756DF;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #289ac0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: BwModelicaSS02;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s;
    display: inline-block;
    width: auto;
    height: auto;
}

.back-button:hover {
    background-color: #1756DF;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    .back-button {
        position: relative;
        margin: 20px 10px 20px 10px;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        display: inline-block;
        max-width: 90px; 
       
    }

    form {
        max-width: 100%;
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .form-group {
        grid-column: 1 / -1;
    }

    .form-checkbox {
        flex-direction: column;
        align-items: flex-start;
    }

    .button-container {
        justify-content: center;
        margin-top: 10px;
        grid-column: 1 / -1;
    }
}
